@import "_var.scss";
@import "_layout.scss";
@import "_atom.scss";

/* БЭМ */

header {
    margin: 15px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name_area {
        display: flex;
        align-items: center;
        gap: 15px;
        #logo img {
            display: block;
            max-width: 70px;
        }
        .name {
            font-size: 1.8em;
        }
    }
}

#book_list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 5fr;
    .category_area {
        .category {
            display: block;
            padding: 5px 10px 7px;
            &:hover {
                background: var(--color2);
                color: var(--color3);
                text-decoration: none;
            }
        }
    }
}

#book_area {
    .inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        .item {
            border: 1px solid var(--color1);
            padding: 2px;
            position: relative;
            display: flex;
            .title {
                margin: 0;
                color: var(--color3);
                font-size: 1em;
            }
            .preview_area {
                margin: auto;
            }
            .hover_area {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0, 0.7);
                padding: 10px;
                display: none;
            }
            &:hover .hover_area {
                display: block;
            }
            .ico_area {
                display: flex;
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px solid #fff;
                .ico {
                    background: transparent;
                    border: 0;
                    display: block;
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

#book_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    .preview_area {
        display: flex;
        justify-content: center;
        border: 1px solid var(--color1);
        padding: 15px;
        .preview {
            max-width: 200px;
        }
    }
}

#user_private {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#category_item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .descr {
        border: 1px solid var(--color1);
        padding: 15px;
    }
}


/* Адаптив */

@media all and (min-width: 851px) {
    .nob {
        display: none;
    }

}
@media all and (max-width: 850px) {
    .container:not(.cpn) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nom {
        display: none;
    }

}
